@use "./abstracts/variables.scss" as *;

body {
    font-family: $font-principal;
    font-size: $font-size-s;
    img{
      width: $ancho-logo-mobile;
      height: auto;
  }
  height: 100%;
  margin: 0;
  }

  