@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

#main-reservas {
    display: flex;
    flex-direction: column;
    color: $color-terciario;

    button {
      margin-bottom: 20px;
      border-radius: 0.3rem;
    }
    p {
        font-family: $font-destacada;
        font-size: $font-size-base;
    }
    .cant-personas {
        p {
            font-family: $font-principal;
            font-size: $paragraph-xs;
        }

        a {
            color: $color-primario;
        }
    }

    .nota-reserva {
        display: flex;
        flex-direction: column;

        textarea::placeholder{
          color: $color-terciario;
        }

        textarea {
          margin-bottom: 0.5rem;
        }
    }

    label{
      margin-bottom: 0.5rem;
    }

    input[type="submit"]{
      max-width: 10%;
      margin-top: 20px;
    }
}